In [1]:
import pandas as pd

In [3]:
xls = pd.ExcelFile('../../Data/VisaClimateTechData.xlsx')
df1 = pd.read_excel(xls, '2_Card data')
df2 = pd.read_excel(xls, '3_Open banking data')

In [4]:
df1.columns

Index(['cpd_mnth_id', 'cpd_dt', 'cluster_name_adjusted', 'mrch_catg_cd',
       'mrch_catg_rlup_nm', 'merchant', 'cp_flag', 'domestic_flag',
       'intraregion_flag', 'interregion_flag', 'city_name', 'country_code',
       'spend'],
      dtype='object')

In [5]:
df2.columns

Index(['Name', 'Value.accountId', 'cluster_name_adjusted',
       'Value.amount.currencyCode', 'mrch_catg_rlup_nm2', 'Value.dates.booked',
       'amount', 'Category'],
      dtype='object')

In [6]:
df2.head()

,Name,Value.accountId,cluster_name_adjusted,Value.amount.currencyCode,mrch_catg_rlup_nm2,Value.dates.booked,amount,Category
0,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-05-12,3.73,entertainment
1,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-05-12,3.73,entertainment
2,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-06-02,4.39,entertainment
3,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-06-02,7.40,entertainment
4,transactions,6r88582adf954cf6b3db6cc97bedccd9,Urban Spenders,GBP,ART DEALERS & GALLERIES,2023-07-14,6.57,entertainment