In [3]:
import pandas as pd

In [8]:
xls = pd.ExcelFile('../../Data/VisaClimateTechData.xlsx')
df1 = pd.read_excel(xls, '2_Card data')
df2 = pd.read_excel(xls, '3_Open banking data')

In [14]:
df1.head()

,cpd_mnth_id,cpd_dt,cluster_name_adjusted,mrch_catg_cd,mrch_catg_rlup_nm,merchant,cp_flag,domestic_flag,intraregion_flag,interregion_flag,city_name,country_code,spend
0,202306,2023-06-08,Family,7523,"PARKING LOTS,METERS,GARAGES",APCOA,0,1,0,0,Not_Available,826,6.25
1,202306,2023-06-13,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.39
2,202307,2023-07-09,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.41
3,202306,2023-06-13,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.39
4,202307,2023-07-09,Affluent Segment,5499,MISC FOOD STORES - DEFAULT,NYA,1,1,0,0,Not_Available,826,1.41

In [16]:
df2.head()

,Name,Value.accountId,cluster_name_adjusted,Value.amount.currencyCode,mrch_catg_rlup_nm2,Value.dates.booked,amount,Category
0,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-05-12,3.73,entertainment
1,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-05-12,3.73,entertainment
2,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-06-02,4.39,entertainment
3,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,2023-06-02,7.40,entertainment
4,transactions,6r88582adf954cf6b3db6cc97bedccd9,Urban Spenders,GBP,ART DEALERS & GALLERIES,2023-07-14,6.57,entertainment